<html>
    <head>
        <title>My App</title>

    </head>
    <body>
        <h1>About</h1>
        {{>header}}

        <p>
            This is information about this site.  This site is my project site for the udemy course 'the complete node js developer course 2'.
        </p>

        {{>footer}}

    </body>
</html>