<html>
    <head>
        <title>My App</title>

    </head>
    <body>
        <h1>Help</h1>
        {{>header}}

        <p>
            Welcome to the help page.
        </p>

        {{> footer}}

    </body>
</html>