<html>
    <head>
        <title>My App</title>

    </head>
    <body>
        <h1>Home</h1>
        {{>header}}

        <p>
            {{screamIt "Welcome Home."}}
        </p>

        {{> footer}}

    </body>
</html>