<html>
    <head>
        <title>My App</title>

    </head>
    <body>
        <h1>Projects</h1>
        {{>header}}

        <p>
            This is my list of projects.
        </p>

        {{>footer}}

    </body>
</html>